

/* Skills Section */
.skills {
    padding: 5rem 9%;
    text-align: center;
    background-color: #9900cc; /* Black background */
}

.skills h1 {
    font-size: 4rem;
    font-weight: 600;
    color: white; /* Violet heading color */
    margin-bottom: 2rem;
}

.skills h1 span {
    color:  #ff66cc; /* Highlight for span element */
}

.skills p {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 3rem;
    color: white;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

/* Individual Skill Card */
.skill-card {
    background-color: #ff66cc; /* Dark background for skill cards */
    padding: 1.5rem;
    border-radius: 10px;
    transition: transform 0.3s; /* Add subtle scaling effect */
}

.skill-card:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

/* Skill Bar */
.skill-bar {
    background-color: #444; /* Base color for skill bars */
    border-radius: 5px;
    height: 15px;
    margin: 0.5rem 0;
}

.skill-level {
    background-color: #9900cc; /* Violet for skill level */
    height: 100%;
    border-radius: 5px;
}
.text-color{
    color:#9900cc
}

/* Footer */
footer {
    padding: 2rem;
    background-color: #111; /* Dark background for footer */
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

